<% layout("layouts/boilerplate") %>
    <form action="/street-arts" method="POST">
        <div>
            <label for="title">
                Title
            </label>
            <input type="text" id="title" name="streetart[title]"/>
        </div>

        <div>
            <label for="location">
                Location
            </label>
            <input type="text" id="location" name="streetart[location]"/>
        </div>

        <button>
            Create Street Art
        </button>
    </form>
    <a href="/street-arts"> 
        Show all street arts
    </a>