<% layout("layouts/boilerplate") %>
<div class="row">
    <h1 class="text-center">
        Add Street Art
    </h1>

    <div class="col-6 offset-3">
        <form 
            action="/street-arts" 
            method="POST" 
            novalidate
            class="validated-form"
        > 
            <div class="mb-3">
                <label 
                    class="form-label"
                    for="title"
                >
                    Title
                </label>
                <input 
                    class="form-control"
                    type="text" 
                    id="title" 
                    name="streetart[title]"
                    required
                />
                <div class="valid-feedback">
                    Beautiful title!
                </div>
            </div>

            <div class="mb-3">
                <label 
                    class="form-label"
                    for="author" 
                >
                    Author
                </label>
                <input 
                    class="form-control"
                    type="text"    
                    id="author" 
                    name="streetart[author]"
                />
            </div>
    
            <div class="mb-3">
                <label 
                    class="form-label"
                    for="location" 
                >
                    Location
                </label>
                <input 
                    class="form-control"
                    type="text"    
                    id="location" 
                    name="streetart[location]"
                    required
                />
                <div class="valid-feedback">
                    That's a cool place!
                </div>
            </div>
    
            <div class="mb-3">
                <label 
                    class="form-label"
                    for="image" 
                >
                    Image Url 
                </label>
                <input 
                    class="form-control"
                    type="text"    
                    id="image" 
                    name="streetart[image]"
                    required
                />
                <div class="valid-feedback">
                    That's some cool art!
                </div>
            </div>

            <div class="mb-3">
                <label 
                    class="form-label"
                    for="description" 
                >
                    Description
                </label>
                <textarea 
                    class="form-control"
                    type="text"    
                    id="description" 
                    name="streetart[description]"
                    required
                > 
                </textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="div mb-3">
                <button class="btn btn-success">
                    Add Street Art
                </button>
            </div>

        </form>
        <a href="/street-arts"> 
            Show all street arts
        </a>
    </div>
</div>

<script>
    // Bootstrap validation script
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.validated-form')

    // Loop over them and prevent submission
    Array.from (forms)
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }

            form.classList.add('was-validated')
        }, false)
        })
    })()
</script>