<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Art</title>
</head>
<body>
    <h1>
        THIS IS:
    </h1>
    <h1>
        <%= streetart.title %>
    </h1>
    <h2>
        <%= streetart.location %>
    </h2>

    <p href="/street-arts/<%=streetart._id%>/edit"> 
        Edit
    </p>

    <p>
        <form 
            action="/street-arts/<%=streetart._id%>?_method=DELETE"
            method="POST"
        >
            <button>
                Delete
            </button>
        </form>
    </p>

    <footer>

        <a href="/street-arts"> 
            Show all street arts
        </a>
    </footer>
</body>
</html>